body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* loading spinner */

.spinner {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, .15);
    border-right: 6px solid rgba(0, 174, 239, .15);
    border-bottom: 6px solid rgba(0, 174, 239, .15);
    border-top: 6px solid rgba(0, 174, 239, .8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

/*** Bootstrap override*/

.label, a {
    cursor: pointer;
}

.label {
    font-size: 100% !important;
}

.form-group {
    margin-bottom: 5px !important;
}

.react-icons {
    vertical-align: middle;
}

/*!*** ruleTable and rulePanel*!*/

.rulePanelDiv {
    background-color: #f3f3f3;
    border: 1px solid #d6d6d6;
    border-radius: 7px;
    padding: 5px;
}

.rulePanelDiv .btn {
    padding: 2px;
}

.rulePanelDiv .submitButtons {
    padding-top: 10px;
}

.rulePanelDiv .submitButtons .btn {
    padding: 2px 25px;
}

.rulePanelGeneralTab {
    color: darkblue !important;
}

.rulePanelSatisfiedTab {
    color: forestgreen !important;
}

.rulePanelViolatedTab {
    color: darkred !important;
}

.buttonDiv {
    float: left;
    padding-right: 2px;
}

.mdAddBox {
    cursor: pointer;
    color: #9b9b9b
}

.faTag {
    cursor: pointer;
    color: #5f5f5f
}

.faTag:hover {
    color: #444444;
}

.mdEdit {
    cursor: pointer;
    color: #337ab7
}

.mdEdit:hover {
    color: #265a88;
}

.faQuestionCircle {
    cursor: pointer;
    color: #337ab7
}

.faQuestionCircle:hover {
    color: #265a88;
}

/*** Rule Result */

.blue-bg {
    background-color: #d9edf7 !important;
}

.green-bg {
    background-color: #dff0d8 !important;
}

.red-bg {
    background-color: #f2dede !important;
}

.edit-bg {
    background-color: #f3faff !important;
}

/*** SRCML xml styling */

.link {
    cursor: pointer;
}

.snippetDiv * {
    color: black;
}

.snippetDiv pre {
    background-color: white !important;
    margin: 5px 0 0 !important;
    padding: 3px !important;
}

.snippetDiv class, .snippetDiv specifier {
    color: rgb(183, 100, 24) !important;
}

.snippetDiv name {
    color: rgb(218, 166, 69) !important;
}

.snippetDiv block {
    color: black;
}

.snippetDiv annotation, .snippetDiv annotation * {
    color: rgb(173, 171, 0) !important;
}

/*** table of contents ***/

.bottomBorder {
    margin-top: 5px !important;
    margin-bottom: 20px !important;
}

#alphabet_index li {
    min-width: 2em;
    cursor: pointer;
}

#tableOfContent a:hover, #tableOfContent li:hover {
    font-style: italic;
}

#alphabet_index .selected {
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}

#tags_list li {
    min-width: 15em;
    cursor: pointer;
}

/*** HeaderBar ***/

.headerDiv {
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 3px double #bdbdbd
}

.text-24 {
    font-size: 24px;
    word-break: break-all;
}

.text-20 {
    font-size: 20px;
    word-break: break-all;
}

.text-16 {
    font-size: 16px;
    word-break: break-all;
}

.important {
    font-weight: bold;
}

.primary {
    color: #5d5d5d;
}

/*!*** Auto Complete ***!*/

.monacoWrapper {
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 2px;
    background-color: #fff;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.monacoWrapper.has-error {
    border-color: #a94442;
}

.monacoWrapper.has-error.focused {
    box-shadow: 0 0 4px #d94d4b;
}

.monacoWrapper.has-success {
    border-color: #3c763d;
}

.monacoWrapper.has-success.focused {
    box-shadow: 0 0 4px #67b168;
}

.monacoWrapper.has-warning {
    border-color: #eebd6e;
    box-shadow: 0 0 4px #ffd88d;
}

.text-has-error {
    text-decoration: underline dotted red;
}

.text-has-success {
    text-decoration: none;
}

/*!*** Rule generating ***!*/

/* override bootstrap */
#generateRule .help-block {
    margin-bottom: 5px;
}

.tagLabel {
    float: left;
    margin: 0 15px 10px 0
}

.customTheme {
    color: #38404e !important;
    background-color: #b5c7d8 !important;
    border: 1px solid #38404e;
    font-size: 12px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    align-items: center;
    justify-content: center;
}

.navbar {
    margin-bottom: 0;
}

/*!*** rule Generator GUI ***!*/

.guiBoundingBox {
    clear: both;
    padding-top: 20px;
    margin: 1px;
    background-color: white;
}

/* arrangement */

.generateRuleGui .elementDiv {
    padding: 1px;
}

.generateRuleGui .ruleGroupDiv {
    padding: 5px 10px;
}

.generateRuleGui .rowItem {
    display: inline-block;
}

.generateRuleGui .rowGroup {
    margin-left: 0;
    width: 100%;
    clear: both;
    margin-bottom: 5px;
}

.generateRuleGui .bodyChildrenContainer {
    padding-top: 10px;
    margin: 0 2px 0 20px;
}

.generateRuleGui .dropdownToggle {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 0 2px;
}

.generateRuleGui .dropdownToggle:hover {
    cursor: pointer;
    border-color: #afafaf;
}

.generateRuleGui .dropdownDiv {
    padding: 0 4px;
}

.generateRuleGui .wideText {
    width: 80%;
}

.generateRuleGui .smallText {
    width: 60px;
}

.generateRuleGui .inlineText {
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.generateRuleGui input {
    width: 100%;
}

.generateRuleGui .inputTextContainer {
    padding: 0 1px;
}

.generateRuleGui .inputTextDiv {
    padding: 0 2px;
}

.generateRuleGui .btn-group {
    display: block;
}

/*** color ***/

/*     border */

.generateRuleGuiDiv {
    border: 1px solid transparent;
    border-radius: 5px;
}

.generateRuleGuiDiv.has-error {
    border-color: #a94442
}

.generateRuleGui .elementDiv {
    border: 1px solid transparent;
    border-radius: 5px;
}

.generateRuleGui .elementDiv:hover {
    box-shadow: 0 0 10px #999999;
}

.generateRuleGui .elementDiv.activeElement {
    box-shadow: 0 0 2px #c6c6c6;
}

.generateRuleGui .elementDiv.activeElement.constraintElement {
    box-shadow: 0 0 2px #e5efff;
    /*border-color: #0017ff;*/
}

.generateRuleGui .elementDiv.activeElement.constraintElement:hover {
    box-shadow: 0 0 10px #8e94a4;
}

.generateRuleGui .activeElement.selectedElement {
    box-shadow: 0 0 5px #99721c !important;
}

.generateRuleGui .activeElement.selectedElement:hover {
    box-shadow: 0 0 10px #99721c !important;
}

.generateRuleGui .inputText {
    border: none;
    border-radius: 3px;
}

/*     background color */

.hoveredAutoComplete {
    background-color: #ffe0b3 !important;
}

.generateRuleGui .elementDiv {
    background-color: #ffffff;
}

.generateRuleGui .activeElement.constraintElement {
    background-color: #F2F8FF;
}

.generateRuleGui .inputText {
    background-color: #f4f4f4;
}

.generateRuleGui .inputText:hover, .generateRuleGui .inputText:focus {
    background-color: #e2e2e2;
}

.generateRuleGui .inputText.activeElement {
    background-color: #c5c5c5;
}

.generateRuleGui .inputText.constraintElement {
    background-color: #d9e8ff;
}

.generateRuleGui .dropdownToggle.constraintElement {
    background-color: #d9e8ff;
}

.generateRuleGui .inputText.constraintElement:hover, .generateRuleGui .inputText.constraintElement:focus {
    background-color: #bfd9ff;
}

/*     text color */

.generateRuleGui .elementDiv {
    color: #d3d3d3;
}

.generateRuleGui .elementDiv:hover {
    color: #5f5f5f;
}

.generateRuleGui .dropdownDiv {
    color: #c3c3c3;
}

.generateRuleGui .dropdownDiv:hover {
    color: #606060;
}

.generateRuleGui .activeElement {
    color: #3c3c3c;
}

.generateRuleGui .activeElement:hover {
    color: #303030;
}

.generateRuleGui .inputText {
    color: #c3c3c3;
}

.generateRuleGui .inputText:focus {
    color: #606060;
}

.generateRuleGui .inputText.activeElement {
    color: #606060;
}

.generateRuleGui .activeElement .inactiveText {
    color: #c3c3c3;
}

/*     misc */

.generateRuleGui .inputText::placeholder {
    opacity: 0.5;
}

.generateRuleGui .informationDiv {
    position: absolute;
    margin-top: 1px;
    padding: 1px 0 0 5px;
    background-color: #ebf8ff;
    z-index: 1000;
    display: none;
    right: 0;
    color: #333333;
    box-shadow: 0 0 10px #828282;
}

/****  icons */

.generateRuleGui .checkboxConstraintDiv {
    position: absolute;
    margin-top: -50px;
    padding: 1px 5px 0 5px;
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    z-index: 1000;
    display: none;
    width: auto;
}

.generateRuleGui .checkboxConstraintContainer {
    float: left;
    margin-top: 5px;
}

.generateRuleGui .elementIconsDiv {
    float: right;
    margin-top: -25px;
}


.generateRuleGui .checkboxConstraint.constraint, .checkboxConstraint.constraint {
    color: #80b5ff;
}

.generateRuleGui .MdStar, .generateRuleGui .MdRemove, .generateRuleGui .checkboxConstraint {
    cursor: pointer;
    padding-top: 2px;
    color: #cacaca;
}

.MdStar {
    padding-top: 2px;
    color: #cacaca;
}

.generateRuleGui .MdStar:hover, .generateRuleGui .MdStar.selectedElement, .MdStar.selectedElement {
    color: #e5a727;
}

.generateRuleGui .MdRemove:hover {
    color: #980617;
}

/* Editor Text error message */

.controlButton {
    cursor: pointer;
    padding-left: 5px;
    float: left;
}

.controlButtonDiv {
    float: right;
    margin-top: -15px;
    margin-right: -10px;
}

/* GUI error messages */

.guiMessages {
    margin-top: 10px;
}

.guiMessages.has-error {
    color: #a94442;
}

.switchContainer{
    display: inline;
    padding: 6px 7px 0 7px;
    border-radius: 3px;
}

/* ======= overlay */

.overlayContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}

.mainDiv-overlay {
    width: 100%;
    height: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    opacity: 1;
    color: #c3c3c3;

    border: 1px solid transparent;
    border-radius: 5px;
}

.overlay:hover {
    display: none;
}

.overlay .messageDivContainer {
    display: table;
    height: 100%;
    overflow: hidden;
}

.overlay .messageDiv {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    color: inherit;
}

.designRuleOverlay {
    margin: 2px;
    width: 99% !important;
    height: 95% !important;
    background-color: #ffffff !important;
    color: #606060 !important;
    opacity: 0.5;
}

/* tutorial */

img.tutorialImage {
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px #777;
}

img.tutorialSmallImage {
    max-width: 30%;
    max-height: 100px;
    border-radius: 5px;
    box-shadow: 0 0 5px #777;
}

.tutorialText {
    width: 30%;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.tutorialArrow {
    width: 1em;
    padding-right: 2px;
    display: inline-block;
    vertical-align: top;
}

.tutorial.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    z-index: 5;
    background-color: inherit;
}

.tutorialPin {
    cursor: pointer;
    color: #5f5f5f
}

.tutorial .has-success {
    color: #3c763d;
}

.tutorial .has-error {
    color: #a94442;
}

.tutorial .inactive {
    opacity: 0.5;
}

.tutorial .optional {
    color: #265a88;
}

/*  project hierarchy */

.projectHierarchy {
    background-color: #ffffff;
    padding: 5px 0;
}

.projectHierarchy.has-error {
    background-color: #ffdcdc !important;
}

.MdSave, .tiDelete {
    cursor: pointer;
    color: #5f5f5f
}

.MdSave:hover {
    color: #007bff;
}

.tiDelete:hover {
    color: #980617;
}

.webSocketError {
    color: #a94442;
    font-weight: bold;
    margin-bottom: -1em;
}

/*  mining rules  */

.attrRowContainer {
    display: flex;
}

.attrId {
    font-family: cursive;
}

.attrDesc {
    font-weight: 600;
}

.attrQuery {
    font-family: monospace;
    font-size: small;
    color: gray;
}

.ruleLink {
    cursor: pointer;
    color: #337ab7
}

.ruleLink:hover {
    color: #265a88;
}

.minedRulesComponent .minedFrequentItemSetRawDisplay {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #99721c !important;
}

.minedRuleBoundingBox .exploreIcon {
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 4;
    cursor: pointer;
}

.selectedTextEnv {
    white-space: pre-wrap;
}

.editableText {
    text-decoration: underline;
}

.highlightModifiedSelection{
    background-color: #9ac1f7;
}

.highlightSelection {
    background-color: #c4cce2;
}

/* overriding RulePad styles*/

.minedRulesComponent .generateRuleGui .minedRules.inputText {
    padding: 3px;
}

/* loading */

.overlayLoading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.spinnerContainer {
    text-align: center;
}

.loadingTitle {
    padding-bottom: 10px;
    color: #349ec3;
}

/** mining rules **/

.minedRulesComponent {
    min-height: 700px;
}

/* override RulePad */

.minedRulesComponent .generateRuleGui .smallText {
    width: auto !important;
}

.minedRulesComponent .generateRuleGui .dropdown-menu {
    width: max-content;
}

.minedRulesComponent .generateRuleGui .inputText {
    padding: 2px;
    cursor: default;
}

.frequency-color {
    color: #f3f3f3 !important;
}

.frequency-0 {
    background-color: #a283c0 !important;
}

.frequency-1 {
    background-color: #976dbf !important;
}

.frequency-2 {
    background-color: #9064bb !important;
}

.frequency-3 {
    background-color: #895bb6 !important;
}

.frequency-4 {
    background-color: #8252b2 !important;
}

.frequency-5 {
    background-color: #7b49ad !important;
}

.frequency-6 {
    background-color: #7440a9 !important;
}

.frequency-7 {
    background-color: #6d37a4 !important;
}

.frequency-8 {
    background-color: #662e9f !important;
}

.frequency-9 {
    background-color: #5f259b !important;
}

.frequency-10 {
    background-color: #4c2f6a !important;
}

.frequency-unknown {
    background-color: #3c3c3c !important;
}

.frequency-identifier {
    background-color: #be7e42 !important;
}

.focusedElementError {
    color: #a94442;
}

.accordion {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-item-header {
    background-color: #f1f1f1;
    padding: 4px 10px;
    cursor: pointer;
    user-select: none;
}

.accordion-item-header.open {
    background-color: #ddd;
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    z-index: 5;
}

.accordion-item.open .accordion-item-content {
    display: block;
}

.accordion-item-content {
    max-height: 400px;
    overflow: auto;
    padding: 5px;
}

/* cluster view */

.minedRulesComponent .snippetDiv pre {
    width: 100% !important;
}

.minedRulesComponent .ifPart,
.minedRulesComponent .thenParts {
    padding: 5px 0;
}

.minedRulesComponent .ifPart {
    margin-left: 10px;
}

.minedRulesComponent .thenParts {
    margin-left: 30px;
}

.minedRulesComponent .thenParts .thenPart {
    background: #ededed !important;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.minedRulesComponent .clusterRuleContainer {
    border: 1px solid #f5c88b;
    border-radius: 4px;
    padding: 5px;
    background-color: antiquewhite;
}

.minedRulesComponent .thenParts .accordion-item-content {
    background-color: #fff;
}

.minedRulesComponent .ifKeyword,
.minedRulesComponent .thenKeyword{
    padding: 5px 0;
}

.minedRulesComponent .clusterRuleContainer.hidden {
    display: none;
}

.minedRulesComponent .badge,
.minedRulesComponent .expandIcons {
    cursor: pointer;
}

.minedRulesComponent .descriptionContainer {
    margin-bottom: 100px;
    background: #07bcff24;
    padding: 10px;
    border: 1px solid rgba(7, 188, 255, 0.64);
    border-radius: 4px;
}

.minedRulesComponent .descriptionContainer .descriptionTitle {
    color: #039fda;
    font-size: 20px;
    font-weight: bold;
}

.minedRulesComponent .identifierContainer {
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
}

.minedRulesComponent .identifierContainer .identifierHeader {
    width: 100%;
}