body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*** Bootstrap override*/

.label, a {
    cursor: pointer;
}

.label {
    font-size: 100% !important;
}

.form-group {
    margin-bottom: 5px !important;
}

/*** ruleTable and rulePanel*/

.rulePanelDiv {
    background-color: #f3f3f3;
    border: 1px solid #d6d6d6;
    border-radius: 7px;
    padding: 5px;
}

.rulePanelDiv .btn {
    padding: 2px;
}

.rulePanelDiv .submitButtons .btn {
    padding: 2px 25px;
}

.rulePanelGeneralTab {
    color: darkblue !important;
}

.rulePanelSatisfiedTab {
    color: forestgreen !important;
}

.rulePanelViolatedTab {
    color: darkred !important;
}

.buttonDiv {
    float: left;
    padding-right: 2px;
}

.mdAddBox {
    cursor: pointer;
    color: #9b9b9b
}

.faTag {
    cursor: pointer;
    color: #bcbcbc
}

.faTag:hover {
    color: #9b9b9b;
}

.faQuestionCircle {
    cursor: pointer;
    color: #337ab7
}

.faQuestionCircle:hover {
    color: #265a88;
}


/*** Rule Result */

.blue-bg {
    background-color: #d9edf7 !important;
}

.green-bg {
    background-color: #dff0d8 !important;
}

.red-bg {
    background-color: #f2dede !important;
}

.edit-bg {
    background-color: #dbeeff !important;
}

/*** SRCML xml styling */

.link {
    cursor: pointer;
}

.snippetDiv * {
    color: black;
}

.snippetDiv pre {
    background-color: white !important;
    margin: 5px 0 0 !important;
    padding: 3px !important;
}

.snippetDiv class, .snippetDiv specifier {
    color: rgb(183, 100, 24) !important;
}

.snippetDiv name {
    color: rgb(218, 166, 69) !important;
}

.snippetDiv block {
    color: black;
}

.snippetDiv annotation, .snippetDiv annotation * {
    color: rgb(173, 171, 0) !important;
}

/*** table of content ***/

.bottomBorder {
    margin-top: 5px !important;
    margin-bottom: 20px !important;
}

#alphabet_index li {
    min-width: 2em;
    cursor: pointer;
}

#tableOfContent a:hover, #tableOfContent li:hover {
    font-style: italic;
}

#alphabet_index .selected {
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}

#tags_list li {
    min-width: 15em;
    cursor: pointer;
}


/*** HeaderBar ***/

.headerDiv {
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 3px double #bdbdbd
}

.text-24 {
    font-size: 24px;
    word-break: break-all;
}

.text-20 {
    font-size: 20px;
    word-break: break-all;
}

.text-16 {
    font-size: 16px;
    word-break: break-all;
}

.important {
    font-weight: bold;
}

.primary {
    color: #5d5d5d;
}

/*** Auto Complete ***/

.suggestionDiv {
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 100%;
    width: 100%;
}

.autoCompleteContainer {
    position: relative;
}

.ruleGeneratorTextContainer {
    position: relative;
}

/* override bootstrap */

.suggestionDiv .panel {
    margin-bottom: 0;
    box-shadow: none;
}

.suggestionDiv .panel-heading {
    background: #c3c3c3 none;
    padding: 5px 10px;
}

.suggestionDiv .list-group-item {
    padding: 5px 20px;
}

/*** Rule generating ***/


/*#generateRule .btn {*/
    /*padding: 2px;*/
/*}*/

/* override bootstrap */
#generateRule .help-block {
    margin-bottom: 5px;
}

.tagLabel {
    float: left;
    margin: 0 15px 10px 0
}

.customTheme {
    color: #38404e !important;
    background-color: #b5c7d8 !important;
    border: 1px solid #38404e;
    font-size:          12px !important;
    padding-left:       14px !important;
    padding-right:      14px !important;
    align-items:        center;
    justify-content:    center;
}

.navbar {
    margin-bottom: 0;
}

/*!*** Xpath Generator Old UI ***!*/

.ruleGroupDiv {
    padding: 5px 10px;
    border: 1px solid #dadada;
    border-radius: 5px;
    /*margin: 10px 0;*/
    background: white;
}

.rowItem {
    /*float: left;*/
    /*padding-right: 5px;*/
    display: inline-block;
}

.inlineText {
    /*margin-top: 10px;*/

    border: 1px solid #ffffff;
    border-radius: 5px;
    /*min-height: 45px;*/
    /*padding: 3px 5px 3px 5px;*/
    /*padding: 0 3px;*/
}

.generateRuleGui button.follows {
    background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
    background-image: -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2aabd2));
    background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.generateRuleGui .ruleGroupDiv.default {
    border: 2px solid gray;
    border-radius: 5px;

    /*border: 1px solid #dadada;*/
    /*min-height: 45px;*/
}

.generateRuleGui .ruleGroupDiv.follows {
    border: 2px solid #2aabd2;
    border-radius: 5px;

}

.generateRuleGui .generatedXpath {
    padding-top: 5px;
    margin-bottom: 20px;
}

.generateRuleGui .divBorder {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px 3px 0 3px;
}

.generateRuleGui .divBorder:hover {
    border: 1px solid #dadada;
    border-radius: 5px;
}

.generateRuleGui .exprDiv {
    clear: both;
    padding-bottom: 15px;
}

.generateRuleGui .temporary-text {
    color: #828282;
}


.generateRuleGui .rowGroup {
    margin-left: 0;
    width: 100%;
    clear: both;
    margin-bottom: 5px;
}

.generateRuleGui .removeIcon {
    /*float: left;*/
}

.generateRuleGui input.redText, .generateRuleGui input.redText::placeholder {
    color: indianred;
}

.generateRuleGui input {
    width: 100%;
}

.generateRuleGui input:disabled {
    background-color: #e4e4e4;
}

.generateRuleGui input:disabled::placeholder {
    color: #a9a9a9;
}

.generateRuleGui .innerRemoveIcon {
    float: right;
    margin-right: -10px;
    margin-top: -10px;
}

.generateRuleGui .inputText {
    border: none;
    background-color: lightgray;
}


.generateRuleGui .tiDelete {
    cursor: pointer;
    color: #e6e6e6;
}

.generateRuleGui .tiDelete:hover {
    color: #969696;
}

.generateRuleGui .tiDelete.default {
    cursor: pointer;
    color: #737373;
}

.generateRuleGui .tiDelete.default:hover {
    color: #515151;
}

.generateRuleGui .tiDelete.follows {
    cursor: pointer;
    color: #2babd2;
}

.generateRuleGui .tiDelete.follows:hover {
    color: #2785a8;
}

.generateRuleGui .mdAddBox {
    cursor: pointer;
    color: #e2e2e2
}

.generateRuleGui .mdAddBox:hover {
    color: #969696
}


code {
    color: #3c3c3c;
    background-color: #eeeeee;
    font-family: monospace;
}

.generatedXpath code {
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}

.generateRuleGui .btn-group {
    margin-bottom: 5px;
}